<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form method="POST">
        <input type="text" placeholder="caixa" name="caixa">
        <input type="text" placeholder="produto" name="produto">
        <input type="text" placeholder="descrição" name="descricao">
        <input type="text" placeholder="preço" name="preco">
        <button>enviar</button>
    </form>
</body>
</html>