<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sistema OS</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="../assets/css/style.css">
</head>
<body>
    <header>
        <h1>Sistema OS</h1>
    </header>
    <section>
        <form method="POST">
            <select name="produto" id="produto">
                <option value="TRC-388">TRC-388</option>
                <option value="TRC-388b">TRC-388b</option>
                <option value="TRC-389">TRC-389</option>
                <option value="TRC-338">TRC-338</option>
                <option value="TRC-339">TRC-339</option>
                <option value="TRC-358">TRC-358</option>
                <option value="TRC-359">TRC-359</option>
                <option value="TRC-360">TRC-360</option>
                <option value="TRC-362">TRC-362</option>
                <option value="TRC-348">TRC-348</option>
                <option value="TRC-328">TRC-328</option>
                <option value="TRC-329">TRC-329</option>
                <option value="TRC-368">TRC-368</option>
                <option value="TRC-369">TRC-369</option>
                <option value="TRC-515">TRC-515</option>
                <option value="TRC-518">TRC-518</option>
                <option value="TRC-513">TRC-513</option>
                <option value="TRC-511">TRC-511</option>
                <option value="TRC-213">TRC-213</option>
                <option value="TRC-212">TRC-212</option>
                <option value="TRC-211">TRC-211</option>
                <option value="TRC-210">TRC-210</option>
                <option value="TRC-218">TRC-218</option>
                <option value="NVS-3170">NVS-3170</option>
                <option value="NVS-3079">NVS-3079</option>
                <option value="NVS-3099">NVS-3099</option>
                <option value="NVS-3066">NVS-3066</option>
                <option value="NVS-3068">NVS-3068</option>
                <option value="NVS-3018">NVS-3018</option>
                <option value="NVS-3030">NVS-3030</option>
                <option value="NVA-204">NVA-204</option>
                <option value="NVA-216">NVA-216</option>
            </select>
            <input class="input_os" type="number" name="os" placeholder="Numero da OS">
            <input class="input_conserto"type="text" name="conserto" placeholder="O que foi feito">
            <input type="date" name="data"> 

            <button>ENVIAR</button>
        </form>

        <div class="relatorio">
            <table class="table table-striped table-dark">
                <tr>
                    <th scope="col">Técnico</th>
                    <th scope="col">Produto</th>
                    <th scope="col">OS</th>
                    <th scope="col">Solução</th>
                    <th scope="col">Data</th>
                </tr>
                <tbody>
                <% for (let index in lista[0]){ var cod;%>
                    <tr>
                        <% for(let item of lista){%>
                            <td>
                                <%= item[index] %>               
                            </td>
                            <% cod = id[index]}%>
                            <td style=" background-color: red; height: 40px; width: 60px; padding: 0;">
                                <a href="/delete/<%= cod %>"><div style="height: 40px;">X</div></a>
                            </td>
                        </tr> 
                        <%} %>
                    </tbody>
                    </table>
                </div>
            </section>


            
               
        </body>
        </html>