<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sistema OS</title>
    <link rel="stylesheet" href="../assets/css/style.css">
</head>
<body>
    <header>
        <h1>Sistema OS</h1>
    </header>
    <section>
        <form method="POST">
            <select name="produto" id="produto">
                <option value="388">TRC-388</option>
                <option value="389">TRC-389</option>
                <option value="338">TRC-338</option>
                <option value="339">TRC-339</option>
                <option value="358">TRC-358</option>
            </select>
            <input type="text" name="os" placeholder="Numero da OS">
            <input type="text" name="conserto" placeholder="O que foi feito">
            <input type="date" name="data">
            <button>Enviar</button>
        </form>
        <div class="relatorio">
            <%=dados%>
        </div>
    </section>
</body>
</html>