<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sistema OS</title>
    <link rel="stylesheet" href="../assets/css/login-style.css">
</head>
<body>
    <header>
        <h1>Sistema OS</h1>
    </header>
    <section>
        <div class="conteiner">
            <img src="/assets/imagens/icons8-usuário-100.png" alt="Icone usuário">
            <form method="post">
                <input type="text" name="usuario" placeholder="Login">
                <input type="password" name="senha" placeholder="Password">
                <button>Entrar</button>
            </form>
        </div>
    </section>
</body>
</html>