body{
    margin: 0;
    padding: 0;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100px;
    margin-bottom: 20px;
    background-color: black;
    color: red;
}

section form{
    display: block;
    height: 50px;
    margin: 0 auto;
}

input {
    width: 20vw;
    height: 20px;
}

select {
    width: 20vw;
    height: 20px;
}

button{
    background-color: lightgreen;
    border: 2px solid lightgreen;
    padding: 2px;
    border-radius: 10px;
    width: 7vw;
    height: 25px;
}

.relatorio{
    display: flex;
    justify-content: center;
    margin: 20px 0px;
}

table td{
    border: 1px solid black;
    padding: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: 1.3vw;

}

tr td:nth-child(3) .scrollable{
    /* width: 20vw; */
    /* height: 20px; */
    margin: 0;
    padding: 0;
    /* flex-wrap: nowrap;
    overflow-x: scroll; */
}

section{
    display:flex;
    justify-content: center;
    flex-direction: column;
}